################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Retrofit.Net/v17
/.vs/Retrofit.Net/DesignTimeBuild
/.vs/Retrofit.Net/project-colors.json
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/content/.vscode
/RetrofitNet.1.0.1.nupkg
